.footer {
  margin-top: auto;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 810px;
  background-color: rgb(240, 242, 245);

  div {
    display: flex;
    justify-content: space-between;
    width: 60vh;
    border-radius: 50%;
    padding-bottom: 10px;
    color: gray;

    a {
      text-decoration: none;
      img  {
        width: 5vh;
        border-radius: 0;
      }
    }
  }
}

