.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 242, 245);
  height: 90vh;
  width: 100vw;
  min-width: 320px;

  .login_logo {
    width: 40vw;
  }

  .login_form {
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 15px;
    background-color: white;
    height: 40vh;
    box-shadow: 0 0 10px rgb(219, 221, 224);
    margin-left: 50px;

    input {
      margin: 5px 0 5px 0;
      background-color: rgb(232, 240, 254);
      border: 1px solid gray;
      border-radius: 8px;
      height: 15%;
      outline: none;
      padding: 10px 20px 10px;
      font-size: 1.5rem;
    }

    input:focus {
      border-color: rgb(22, 111, 229);
    }

    button {
      color: rgb(60,90,153);
      background-color: transparent;
      margin: 5px 0 5px;
      outline: none;
      font-size: 1.2rem;
    }

    .login_button {
      color: white;
      background-color: rgb(24, 119, 242);
      height: 15%;
      border-radius: 8px;
      border-color: transparent;
    }

    .login_button:hover {
      background-color: rgb(14, 99, 232);
    }

    .forgot_password_button {
      color: rgb(24, 164, 247);
      border: none;
      border-bottom: 1px solid gray;
      padding-bottom: 20px;
      font-size: 15px;
    }

    .forgot_password_button:hover {
      text-decoration: underline;
    }

    .new_acc_button {
      color: white;
      background-color: rgb(66, 183, 42);
      border-color: transparent;
      height: 15%;
      border-radius: 8px;
      margin-top: 7.5%;
    }

    .new_acc_button:hover {
      background-color: rgb(54, 164, 32);;
    }
  }
}

#register_true {
  pointer-events: none;
  filter: blur(5px);
}

@media (max-width: 768px) {
  .login_container {
    flex-direction: column;
    justify-content: center;

    .login_logo {
      width: 60vw;
    }

    .login_form {
      margin: 25px 0 0 0;
      width: 60vw;

      input {
        font-size: 1.2rem;
      }
    }
  }
}