.navbar_container {
  display: flex;
  align-items: center;
  height: 8vh;
  justify-content: space-between;
  min-width: 320px;

  img {
    height: 70%;
    padding: 10px;
    cursor: pointer;
  }

  .searchbar {
    width: 40%;
    height: 60%;
    min-width: 155px;


    input {
      padding-left: 5px;
      font-size: 20px;
      width: 100%;
      height: 100%;
    }

    ul {
      position: absolute;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding-left: 0;
      width: inherit;
      min-width: 155px;
      margin-top: 0;
      cursor: pointer;
      overflow: scroll;
      max-height: 55vh;
      z-index: 1;
      box-shadow: 0 0 10px rgb(166, 167, 169);



      &::-webkit-scrollbar {
        width: 7px;
        height: 0;
      }

      &::-webkit-scrollbar-thumb {
        background-color: darkgray;
        border-radius: 100px;
      }

      li {
        list-style: none;
        text-align: left;
        font-weight: bold;
        font-size: 20px;
        padding: 10px 0 10px 10px;
        box-shadow: 0 0 10px rgb(167, 169, 171);
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          width: 100%;
          height: 100%;
          font-size: 17px;
        }

        .profile_image {
          img:first-child {
            height: 80px;
            width: 80px;
            clip-path: circle();
            object-fit: cover;
            padding: 0;
            margin: 0 8px 0 0;
          }
        }

        #sent_false {
          height: 55px;
          margin-right: 1.2rem;
          opacity: 0.3;
          padding: 0;
        }

        #sent_false:hover {
          opacity: 1;
        }

        #sent_true {
          display: none;
        }
      }

      li:hover {
        box-shadow: 0 0 10px #b4b2b2;
      }
    }

    ul:hover {
      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
    }
  }

  .nav_buttons {

    img {
      position: relative;
      transform: translateY(15%);
      padding: 0;
      margin-right: 20px;
      opacity: 0.7;
      height: 40px;
    }

    img:hover {
      opacity: 1;
    }

    #notification_true {
      opacity: 1;
    }

    .notification_list {
      position: absolute;
      z-index: 1;
      align-self: flex-start;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding-left: 0;
      margin-top: 0;
      cursor: pointer;
      list-style: none;
      box-shadow: 0 0 10px rgb(166, 167, 169);
      right: 50px;
      overflow: scroll;
      max-height: 55vh;
      min-width: 320px;

      &::-webkit-scrollbar {
        width: 7px;
        height: 0;
      }

      &::-webkit-scrollbar-thumb {
        background-color: darkgray;
        border-radius: 100px;
      }

      li {
        list-style: none;
        font-weight: bold;
        font-size: 1rem;
        padding: 5px 5px 5px 0;
        box-shadow: 0 0 10px rgb(167, 169, 171);
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 320px;
        height: 10vh;

        .friend_request {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;


          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
              position: relative;
              transform: translateY(0);
              margin: 0 10px 0 5px;
              height: 65px;
              width: 65px;
              clip-path: circle();
              object-fit: cover;
            }

            span {
              //padding-bottom: 10px;
              //font-size: 17px;
            }

            div {
              display: flex;
              flex-direction: row;
              width: 100%;
              justify-content: space-around;
              margin-top: 5px;

              button {
                width: 40%;
                border: 1px solid black;
                border-radius: 10px;
                color: rgb(1, 101, 225);
                font-weight: bold;
                padding: 5px 0;
                background-color: transparent;
                cursor: pointer;
              }

              button:first-child {
                border-color: rgb(1, 101, 225);
                background-color: rgb(1, 101, 225);
                color: white;
              }

              button:hover {
                box-shadow: 0 0 4px #000000;
              }
            }
          }

          .notification_date {
            align-self: end;
            width: auto;
            margin-left: 10px;
          }
        }

      }

      .empty_notifications {
        font-size: 25px;
        text-align: center;
        justify-content: center;
      }

      .seen_true {
        div {
          opacity: 0.7;
        }
      }

      li:hover {
        box-shadow: 0 0 10px #b4b2b2;
      }
    }

    .notification_list:hover {
      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
    }

    .util_button {
      position: relative;
      transform: translateY(-15%);
      background: transparent;
      border: 1px solid black;
      border-radius: 10px;
      font-size: 20px;
      color: rgb(1, 101, 225);
      font-weight: bold;
      margin-right: 15px;
      padding: 5px 25px;
      cursor: pointer;

      img {
        display: none;
      }
    }

    .util_button:hover {
      background-color: rgb(245, 246, 247);
    }
  }

}

@media (max-width: 768px) {
  .navbar_container {
    .searchbar {

      .searchbar_ul {

        width: 60vw;
        max-height: 40vh;

        li {
          div {

            img:first-child {
              height: 45px;
              width: 45px;
            }
          }

          span {
            font-size: 12px;
          }

          #sent_false {
            height: 30px;
            margin-right: 10px;
          }
        }
      }
    }

    .nav_buttons {
      width: 30vw;
      display: grid;
      grid: auto auto / auto auto;
      row-gap: 5px;
      padding: 5px 0 5px 0;

      .notification_list {
        margin-top: 8vh;
        right: 20px;

        li {
          width: 50vw;
          font-size: 0.9rem;

          .friend_request {

            width: 100%;

            div {
              img {
                height: 40px;
                width: 40px;
              }

              span {
                padding-bottom: 5px;
              }
            }
          }
        }
      }

      img {
        grid-area: 1 / 1 / span 2 / 1;
      }

      .util_button {
        font-size: 15px;
        height: 25px;
        text-align: center;
        padding: 0 20px 0 20px;
      }
    }
  }
}

@media (max-width: 480px) {
  .navbar_container {

    .searchbar {
      height: 50%;

      .searchbar_ul {

        max-height: 30vh;

        li {
          padding: 0;

          div {

            img:first-child {
              height: 30px;
              width: 30px;
            }
          }

          span {
            font-size: 10px;
          }

          #sent_false {
            height: 20px;
            margin-right: 0.5rem;
          }
        }
      }
    }



    .nav_buttons {
      width: 25vw;
      display: flex;
      justify-content: space-between;

      .notification_list {
        li {
          width: 80vw;
        }
      }

      img {
        margin: 0;
        height: 25px;
      }

      .util_button {
        border: none;
        padding: 0;
        margin: 0;

        span {
          display: none;
        }

        img {
          display: inline;
        }
      }
    }

  }
}