.posts {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(219, 221, 224);
  margin: 0 0 20px;
  padding-left: 0;

  align-items: center;

  li {
    box-shadow: 0 0 10px rgb(219, 221, 224);
    border-radius: 10px;
    width: 96%;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 25vh;

    .post_data {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid grey;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;

      span {
        display: flex;
        align-items: center;
        font-size: 18px;
        padding-bottom: 10px;

        img {
          width: 5vw;
        }
      }
    }

    .post_content {
      height: 100%;
      font-size: 20px;
    }

    margin: 10px 2%;

    div {
      padding-left: 10px;
      padding-right: 10px;
    }

  }

  li:first-child {
    margin-top: 2%;
  }

}

.empty_posts {
  font-size: 75px;
  font-weight: bold;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 0 10vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(219, 221, 224);
}
