$font: 1.2rem;

.register_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgb(140, 140, 143);
  background-color: white;
  width: 30vw;
  min-width: 320px;
  height: 60vh;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 100px;
  }


  .register_header {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    border-bottom: 1px solid gray;
    width: 90%;
    margin: 15px auto 0 auto;

    div {
      h2 {
        margin: 0 0 5px 0;
      }

      h5 {
        color: gray;
        margin-top: 0;
      }
    }

    img {
      height: 30px;
      cursor: pointer;
    }

  }

  .register_form {

    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0 15px 0 15px;

    .names {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;

      div {
        width: 45%;

        input {
          width: 90%;
          margin-bottom: 5px;
          padding: 5px 0 5px 10px;
          font-size: $font;
        }
      }

    }

    .type_form {
      background-color: rgb(245, 246, 247);
      height: 3.5vh;
      margin-bottom: 10px;
      border-radius: 5px;
      padding: 5px 0 5px 10px;
      font-size: $font;
      outline: none;
      border: 1px solid gray;
    }

    span {
      font-size: 12px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .birthday {
      display: flex;
      justify-content: space-between;

      select {
        width: 31%;
        height: 4vh;
        font-size: $font;
        padding: 5px 0 5px 10px;
        border-radius: 5px;
      }
      
      select:hover {
        cursor: pointer;
      }
    }

    .gender {
      .m_or_f {
        display: flex;
        justify-content: space-between;

        div {
          border: 1px solid gray;
          border-radius: 5px;
          width: 35%;
          height: 4vh;
          display: flex;
          justify-content: space-between;
          flex-flow: row-reverse;
          align-items: center;
          padding-left: 15px;
          padding-right: 10px;

          span {
            font-size: $font;
          }
        }

        div:hover {
          cursor: pointer;
        }
      }

      .custom_radio {
        border: 1px solid gray;
        border-radius: 5px;
        height: 4vh;
        display: flex;
        justify-content: space-between;
        flex-flow: row-reverse;
        align-items: center;
        padding-left: 15px;
        padding-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: $font;
      }

      .custom_radio:hover {
        cursor: pointer;
      }
    }

    .custom_gender {
      display: flex;
      flex-direction: column;

      input {
        border: 1px solid gray;
        border-radius: 5px;
        height: 4vh;
        font-size: $font;
        background-color: rgb(245, 246, 247);
        padding-left: 15px;
        padding-right: 10px;
      }

      select {
        border: 1px solid gray;
        border-radius: 5px;
        height: 4vh;
        margin-bottom: 10px;
        font-size: $font;
        padding: 5px 0 5px 10px;
      }
    }

    .submit_button {
      color: white;
      background-color: rgb(66, 183, 42);
      border-color: transparent;
      height: 4vh;
      width: 40%;
      border-radius: 8px;
      margin-top: 7.5%;
      font-size: 15px;
      margin-left: 30%;
      cursor: pointer;
    }

    .submit_button:hover {
      background-color: rgb(54, 164, 32);;
    }

    .error {
      color: red;
      font-size: 12px;
      margin-bottom: 15px;
    }

    #is_error {
      border: 2px solid red;
    }

  }
}

#customGender {
  height: 80vh;
}

.register_container:hover {
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 768px) {

  .register_container {
    width: 40vw;

    .register_form {
      .names {
        div {
          input {
            font-size: 1rem;
          }
        }
      }

      .type_form {
        font-size: 1rem;
      }

      .birthday {
        select {
          font-size: 1rem;
        }
      }

      .gender {
        .m_or_f {
          flex-direction: column;
          align-items: center;

          div {
            width: 100%;
            padding: 0;
            margin: 10px 0 10px 0;

            span {
              padding-left: 15px;
              font-size: 1rem;
            }

            input {
              margin-right: 15px;
            }
          }
        }

        .custom_radio {
          font-size: 1rem;
        }

        .custom_gender {

          select {
            font-size: 1rem;
          }

          input {
            font-size: 1rem;
          }

        }
      }
    }
  }
}

@media (max-width: 480px) {
  .register_container {
    width: 70vw;
  }
}
